body {
  background-color: violet;
}
#footer {
  border: 1px solid #dedede;
  position: relative;
  top: 101px;
  right: 8px;
  width: 327px;
  background-color: turquoise;
}
#head p {
  font-size: 25px;
  font-weight: bold;
  color: revert;
}
#footer p {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: crimson;
}
